{% extends "layout.html"%}

{% block content %}


<section class ="jumbotron">
<section id ="newcontain">

     <div class="container">
        {% load static %}
        
        <h1>The Cyber Guards</h1>
        <p>We are your one stop organization for web digital services, Cybersecurity and Applications development</p>
        <p>When you need it done, quick, fast and of the best quality, then we are a call away.</p>
        
    </div>
    </div>
     </section>

     <section id="profile">
     <div class="container">
         <article id="main-col">
        <h2 class="page_title">About us</h1>
        
        <div class ="black">
        <p>We are that team doing great stuffs. Our team of Cyber security specialists are set to give you the best 
            security practices. As the world of cyber crimes increase, Buy any three of our products and get the next two completely free of charge.
        When you need it done, quick, fast and of the best quality, then we are a call away
        </p>
        <p>We have never seen impossibility in anything we do, some people see us as aliens.
            Buy any three of our products and get the next two completely free of charge.
        When you need it done, quick, fast and of the best quality, then we are a call away. 
        </p>
        </div>
    </article>

    <aside id ="sidecolumn">
        <div class="black">
        <h3>Beautiful Things</h3>
        <p>Web development, Game designs, App Designs, Cybersecurity
        </p>
        </div>
    </aside>
    </div>
        <div class="wrapper">

        <div class="box box1">
            <h1>ENROL TODAY</h1>

        

            {% load static %}
            <img src="{% static 'img/analyst.png'%}"  width="100%" alt="cyber image">
        </div>

        <div class="box box2">
             <h1>CHOOSE A COURSE</h1>
             <p>Web Development</p>
             <p>Cybersecurity</p>  
             <p>Application Specialist</p>
             <p>Game Developer</p>
             <p>Database Analyst</p> 
        </div>
    </section>

    

            <div class="wrapper2">
           
                <div class="box box1">
        
                
                <div id="circle">
                    MOVE
                <div id="square">AWAY&OVER</div>
                 </div>
                 <h2>At Webworks SKYDZGN, there is a place for you. There is a course for you to learn
                     something supernatural and amazing. Tell us, ARE YOU TALENTED?
                     Web apps design and implementation.
                 </h2>
                </div>
            </div>


    <div class ="wrapper4">

    <div id="box box2">
     <h1>{{ note }}</h1>
   
    <form action="about" method="POST">
        {% csrf_token %}
        {{ EnrolForm }} 
    
        <!-- <input type="text" placeholder = "First Name">
        
        <input type="text" placeholder = "last Name">
        
        <input type="email" placeholder = "Email Address">
       
        <input type="text" placeholder = "Phone number">
        
        <input type="text" placeholder = "Address">
        
        <input type="text" placeholder = "Chosen course">
           
        <input type="text" placeholder = "specialization">
     
        <input type="text" placeholder = "Password"> -->
           
        <input id="send" type="submit" value="ENROL">

        </form>
    </div>
    </div>
</section>
</section>           

    <script src="{% static 'js/crystal.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>


{% endblock %}
