{% extends "layout.html"%}

{% block content %}


<section class ="jumbotron">
 <section id ="contak">
        <div clas="container">
           <h1>Applications development specialists</h1>
           <p>We develop amazing sites and apllications. 
              You describe it and we do it for you at the most affordable price</p>
           <p>Contact us today.</p>
        </div>      
        </section>   

     <section id="register">
     <div class="container">
        <h1>Contact us to get more juicy deals!</h1>
        <h1>This is your best decision!</h1>

        <form>
            <input type="First name" placeholder="Enter your first name">
            <input type="Last name" placeholder="Enter your last name">
            <input type="Email" placeholder="Enter your Email">
            <button type ="submit" class="button_1">REGISTER</button>

            <p>We have been called many names however we like to think of 
               ourselves as the lot that challenge the status quo, we are not so extraordinary,
               we only added a little extra to our ordinary.
            </p>
        </form>
    
        </div>
     </section>
     
     <section id="profile">
        <div class="container">
            <article id="main-col">
           <h2 class="page_title">About us</h1>
           
           <div class ="black">
            <h3>Who we are</h3>
           <p>We have been called many names however we like to think of 
               ourselves as the lot that challenge the status quo, we are not so extraordinary,
               we only added a little extra to our ordinary. We are the bunch that added a little salt 
               to the natural and ended up as supernatural. We are humans afteral.
           </p>
           <p>At SKYDZGN, what makes us uniquely different is our style, efficiency and delivery.
               When you need it done, quick, fast and of the best quality.
               
           </p>
           </div>
       </article>
   
       <aside id ="sidecolumn">
           <div class="black">
           <h3>Beautiful Things</h3>
           <p>Web development, Game designs, App Designs, Cybersecurity. 
               We stand for quality, trust and commitment.
               We have been called many names however we like to think of  
              ourselves as the lot that challenge the status quo, we are not so extraordinary,
               we only added a little extra to our ordinary.
           </p>
           </div>
       </aside>
       </div>
           <div class="wrapper">
            
           <div class="box box1">
               <h1>ENROL TODAY</h1>
               {% load static %}
               <img src="{% static 'img/pgm.png'%}"  width="100%" alt="cyber image">
           </div>
   
           <div class="box box2">
               <h1>CHOOSE A DEPARTMENT FOR ENQUIRIES</h1>
               <p>WebDev DEPT</p>
                <p>CyberSec DEPT</p>  
                <p>App Specialist DEPT</p>
                <p>Data Analysis DEPT</p>
                <p>General Enquiries</p>
           </div>
       </section>
   
           <section id="Enrol">
   
               <div class="wrapper2">
              
                   <div class="box box1">
           
                   
                   <div id="circle">
                       Someone is here
                   <div id="square">waiting to serve</div>
                    </div>
                    <h2>There is someone ready to hear your complaint 24hours a day, recommendation or feedback. 
                        We believe in making ammends where necessary and we are here to provide 
                        solutions to any of your enquiries. Our specialists are here for you every step of the way.
                    </h2>
                   </div>


                   <div class="box box2">
                    <form action="{% url 'contact' %}" method ="post">
                        {% csrf_token %}
                        <form class="area">
                        <div>
                        <label>Full Name</label><br>
                        <input type="text" placeholder = "Full Name">
                        </div>
                        <div>
                        <label>Email</label><br>
                        <input type="email" placeholder = "Email Address">
                        </div>
                        <div>
                        <label>Phone</label><br>
                        <input type="text" placeholder = "Phone number">
                        </div>
                        <div> 
                        <label>To Department</label><br>
                        <input type="text" placeholder = "Department">
                        </div>
                        <div>
                        <label>Message</label><br>
                        <textarea placeholder = "Message"></textarea>
                        </div>
                        <button class ="button_1" type="Submit">Send</button>
                            <h1>Send us a message, we are at your service.</h1>
                       </form>
                    </form>
                
                    </div>
               </div>
               </div>
           
    </section>
     </section>

    <script src="{% static 'js/crystal.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>

{% endblock %}