{% extends "layout.html"%}

{% block content %}



    <section id ="showcase">
            {% load static %}
       
         <h1>Professional Digital Services</h1>
        <p>We create the best user experience, We make things work!</p>
   <div clas="container">              
          
        </div>
    </section>
   
   
        <section id="register">
   
       <div class="wrapper2">
      
           <div class="box box1">
   
           
           <div id="poly">
               <div id="star"></div>
            </div>
            <h2>Register to subscribe to our newsletter here!
                Sign up to learn more about the amazing sites and Apps we buiild
                We are a reputable organization with years of experience.
           </h2>
               
            
           </div>
           
           <div class="box box2">
              
                   
                       {{ indexForm }}
                    <form action="{% url 'profile' %}" method="post">
                        {% csrf_token %}

                        <h2>{{ note }}</h2>
                       <h3>SIGNUP NOW</h3>

                       <h2>{{ note }}</h2>
                                 
               </div>
       </div>
       </div>
   
        </section>
          
        
        <div class="wrapper">
   
   
            <div class="box box1">
                <h1>CYBERGEEKS</h1>
                {% load static %}
                <img src="{% static 'img/cybersec.png'%}"  width="100%" alt="cyber image">
              
            </div>
   
            <div class="box box2">
           
                <h1>PROFESSIONALISM</h1>
                <p> We guarantee the best at what we do. Look no further as the team is ready to 
                       tackle whatever challenge you have. Buy any three of our products and get the 
                       next two completely free of charge.                 
                </p>
   
            </div>
            <div class="box box1">
                <h1>QUALITY</h1>
                {% load static %}
                <img src="{% static 'img/ehacks.png'%}"  width="100%" alt="cyber image">
            </div>
   
            <div class="box box2">
                <h1>SPEED</h1>
                <h3>Seeing things in different perspetives, we assure you of exceptional 
                       and beautiful delivery of your projects in a timely and world class 
                       environment. We employ the best tactics of Trust and Honesty!
                </h3>
            </div>       
           </div>

        
</section>
    <script src="{% static 'js/crystal.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
    <script src="{% static 'js/jquery.js'%}"></script>


{% endblock %}