{% extends "layout.html"%}

{% block content %}


<section class ="jumbotron">
<section id ="port">
        <div clas="container">
           <h1>A few of our projects!</h1>
           <p>Go Forward, Achieve More, because possibility is endless!</p>
          
        </div>
       
        <div id="circle">
            <div id="square"></div>
         </div>

         <div class="box box3">
            <span style ="height: 3em" class="text1">W</span>
            <span style ="height: 3em" class="text2">E</span>
            <span style ="height: 3em" class="text3">B</span>
            <span style ="height: 3em" class="text4">W</span>
            <span style ="height: 3em" class="text5">O</span>
            <span style ="height: 3em" class="text6">R</span>
            <span style ="height: 3em" class="text7">K</span>
            <span style ="height: 3em" class="text8">S</span>
            </div>   

        </section>
     <section id="register">
     <div class="container">
        <h1>EFFICIENCY AND COMMITMENT TRUST ARE THE PILLARS OF OUR BUSINESS!!!</h1>

        <form>
            <input type="First name" placeholder="Enter your first name">
            <input type="Last name" placeholder="Enter your last name">
            <input type="Email" placeholder="Enter your Email">
            <button type ="submit" class="button_1">REGISTER</button>
        </form>
     </div>

     </section>

     <section id="profile">
        <div class="container">
            <article id="main-col">
           <h2 class="page_title">Our Portfolio of experience!</h2>
   
          <ul id ="portfolio">

            <li>
                <h3>
                    Web Developments
                </h3>
                <p>We employ the best of up to date software technology in delivering world class Websites</p>
                <p>Price range: $200 - $1000 per month</p>
            </li>

            <li>
                <h3>
                    Applications Development
                </h3>
                <p>We are able to develop amazing and super awesome Web Applications to meet your organizational requirements</p>
                <p>Price range: $3000 - $5000 per month</p>
            </li>

            <li>
                <h3>
                    Cyber Security
                </h3>
                <p>have you really thought about the security of your property and organization. The cyberworld advances daily, we advance by the seconds.</p>
                <p>Price range: $400 - $2000 per month</p>
            </li>

            <li>
                <h3>
                    Application designs
                </h3>
                <p>You dream it, It is your idea, we create it. As long as you can imagine it, then it will come to pass.</p>
                <p>Price range: $4000</p>
            </li>

          </ul>
       </article>
   
       <aside id ="sidecolumn">

           <div class="black">
           <h3>Talk to an Agent to find out more!</h3>

           <form class="area">
            <div>
                <label>Full Name</label><br>
                <input type="text" placeholder = "Full Name">
            </div>

            <div>
                <label>Email</label><br>
                <input type="email" placeholder = "Email Address">
            </div>

            <div>
                <label>Message</label><br>
                <textarea placeholder = "Message"></textarea>
            </div>
            <button class ="button_1" type="Submit">Send</button>
           </form>  
           </p>
           </div>

       </aside>
       </div>

       </section>
       </section>
         
        
        
{% endblock %}