{% extends "layout.html"%}

{% block content %}


<section id ="team">
     <div class="container">
        <h1>THE USUAL SUSPECTS</h1>
        <p>Only the best set of thinkers make up SKYDZYGN!</p>
        <p>JOIN US.</p>
     </div>
    
     </section>


     <section id="tim">
     <div class="teamcon">
        <h1>Crop of amazing people make up the team at SKYDZYGN, We are leaders in our field.</h1>

        <form>
            <h3>Would you love to join this team?</h3>
            <input type="First name" placeholder="Enter your first name">
            <input type="Last name" placeholder="Enter your last name">
            <input type="Email" placeholder="Enter your Email">

            <div>
                <label>Tell us why you wish to join the team?</label><br>
                <textarea placeholder = "Message"></textarea>
            </div>

            <button type ="submit" class="button_1">Join us</button>
        </form>
     </div>

     </section>



     <div class="wrapper">

        <div class="box box1">
            <h1>BOSS</h1>
           {% load static %}
            <img src="{% static 'img/ori1.png'%}"  width="100%" alt="cyber image">
        </div>

        <div class="box box2">
            <h1>Adeniyi Ladenegan</h1>
            <h3> PRESIDENT/CEO SKYDZYGN.
                Amazing is this young mans second name. He loves to enjoy life to the fullest.
                His passion is advertising and media. Alongside SKYDZYGN, he owns ANN media houses all around the world.
                A graduate of Havard School of Business and Trios College Toronto, he enjoys making money, who doesnt?      
            </h3>

        </div>


        <div class="box box1">
            <h1>ALIENIC</h1>
            {% load static %}
            <img src="{% static 'img/ori2.png'%}"  width="100%" alt="cyber image">
        </div>

        <div class="box box2">
            <h1>Ferrari King</h1>
            <h3>
                PROGRAM DESIGNER.
                Everybody loves the Ferrari,
                But this is the Ferrari himself. 
                A graduate of Trios College Toronto and lover of Music, enjoys travelling and meditation.
                He has trained many software enthusiasts. His ultimate goal is that someday, humans have the 
                ability to conquering space.
            </h3>

        </div>

        <div class="box box1">
            <h1>GREEK god</h1>
            {% load static %}
               <img src="{% static 'img/ori5.png'%}"  width="100%" alt="cyber image">
        </div>

        <div class="box box2">
            <h1>Ferrari King</h1>
            <h3>
                Director Cybersecurity division
                This young man has had years of experience in cybersecurity, 
                having worked for so many years with NASA he now plys his trade with SKYDZYGN
                Married to a beautiful wife and a lovely son
            </h3>

        </div>
        
        <div class="box box1">
            <h1>POWER</h1>
            {% load static %}
               <img src="{% static 'img/ori4.png'%}"  width="100%" alt="cyber image">
        </div>

        <div class="box box2">
            <h1>Oriola Skies</h1>
            
            <h3>Senior Director SKYDZYGN
                programming has always been a passion of this young man, always seeking for opportunities 
                to shine and make impact. He is the brain behind the popular mobile app FRIENDZONE. 
                We are quite lucky to have him at SKYDZYGN.
            </h3>

        </div>

    </div>
     
        <script src="{% static 'js/crystal.js'%}"></script>
        <script src="{% static 'js/app.js'%}"></script>
        <script src="{% static 'js/jquery.js'%}"></script>


    {% endblock %}